<div>
  <div class="navbar-toggle collapsed navbar-livereload">
    <% if SolidQueueUi::Web.app_url %>
      <a class="btn btn-inverse" href="<%= SolidQueueUi::Web.app_url %>"><%= t('BackToApp') %></a>
    <% end %>
  </div>
  <a class="navbar-brand" href="<%= root_path %>">
    <%= SolidQueueUi::NAME %>
  </a>

</div>
